/*Ayuda*/

.contactoMain{
    height: 650px;
    text-align: center;
    align-items: center;
}

.contenedorContacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.formContacto{
    font-size: 28px;
    background-color: #5c007a;
    width: 450px;
	height: 350px;
    margin: 0% 0% 0% 37%;
}

.inputContacto{

    font-size: 20px;
    width: 250px;
    height: 30px;
    background: none;
    border: none;
    text-decoration: black;
}

.textareaContacto{
    background: none;
    border: none;
    text-decoration: black;
}

.buttonContacto{
    background: #c25e00;
    border: none;
    text-decoration: black;
    width: 70px;
    height: 30px;
}

.buttonContacto:hover{
    color: black;
    background: white;

}


/* TABLET */

@media only screen and (max-width: 768px) and (min-width: 416px){
    .formContacto{
        width: 450px;
        height: 300px;
        margin: 0% 0% 0% 15%;
    }
}

/* MOBILE */

@media only screen and (max-width: 415px) {
   
    .formContacto{
        width: 450px;
        height: 300px;
        margin: 0% 0% 0% 2%;
    }
}