@import "colores";
/*Footer*/

footer{
    text-align: center;
}

.imagenFooter{
    width: 4%;
    height: 4%;
}


@media only screen and (min-width: 769px) {
    .imagenFooter{
        width: 4%;
        height: 4%;
    }
}

/* TABLET */

@media only screen and (max-width: 768px) and (min-width: 416px){
    .imagenFooter{
        width: 10%;
        height: 10%;
    }
}

/* MOBILE */

@media only screen and (max-width: 415px) {
   
    footer{
        text-align: center;
        height: 100px;
    }

    .imagenFooter{
        width: 15%;
        height: 15%;
    }
}