/*Index*/

div iframe{
    margin: 0% 0% 0% 35%;
}

.logo{
    width:  7%;
    margin: 0% 0% 0% 47%;
}

.imagenIndex{
    width: 100%;
    height: 50%;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}

.mainIndex{
    width: 100%;
    display: grid;
    grid-template-rows: 200px 750px 900px;
}
.artContenedor {
    margin: 10px;
    background-color: #ffc046;
	width: 450px;
	height: 650px;
	padding: 0.5%;
}

.c1{
    order: 1;
}

.c2{
    order:-3;
}

.tituloIndex{
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




@media only screen and (min-width: 769px) {
    .mainIndex{
        display: grid;
        grid-template-rows: 200px 750px 900px;
    }

    /*Transformacion*/
    .tituloIndex:hover{
    transition: 2s;
    font-size: 3rem;
    }

    /*Animacion*/
    .imagenIndex:hover{
    overflow: hidden;
    transform: scale(1.2,1.2);
    }

    .section2{
        width: 700px;
        height: 670PX;
        margin: 1% 0% 0% 30%;
    }
}


/* TABLET */

@media only screen and (max-width: 768px) and (min-width: 416px){
    .mainIndex{
        display: grid;
        grid-template-rows: 200px 750px 2800px;
    }

    .logo{
        width:  7%;
        margin: 0% 0% 0% 47%;
    }
    
    .section2{
        width: 700px;
        height: 670PX;
        margin: 1% 0% 0% 3%;
    }
   
}

/* MOBILE */

@media only screen and (max-width: 415px) {
    .mainIndex{
        display: grid;
        grid-template-rows: 200px 500px 2700px;
    }

    .logo{
        width:  15%;
        margin: 0% 0% 0% 25%;
    }
    
    .tituloIndex{
        text-align: left;
    }

    .section2{
        width: 450px;
        height: 300PX;
        margin: 1% 0% 0% 1%;
    }
    
}