@import "colores";
/*Index*/


div iframe{
    margin: 0% 0% 0% 35%;
}

.logo{
    width:  7%;
    margin: 0% 46.5% 0% 46.5%;
}

.imagenIndex{
    width: 100%;
    height: 50%;
}

.contenedorPrincipal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}

.mainIndex{
    width: 100%;
    display: grid;
    grid-template-rows: 200px 750px 900px;
}
.artContenedor {
    margin: 10px;
    background-color: $colorSecundario;
	width: 23%;
	height: 650px;
	padding: 0.5%;
}

.textoIndex{

    padding: 1%;
}

.c1{
    order: 1;
}

.c2{
    order:-3;
}

.tituloIndex{
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bienvenidaIndex{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (min-width: 1504px)  {
    .mainIndex{
        display: grid;
        grid-template-rows: 200px 890px 1350px;
    }

    /*Transformacion*/
    .tituloIndex:hover{
    transition: 2s;
    font-size: 3rem;
    }

    /*Animacion*/
    .imagenIndex:hover{
        transition: 2s;
        overflow: hidden;
        transform: scale(1.2,1.2);
    }

    .section2{
        width: 45%;
        height: 670px;
        margin: 1% 27.5% 0% 27.5%;
        position: justify;
    }

    .artContenedor {
        width: 35%;
    }

    
}



@media only screen and (max-width: 1503px) and (min-width: 957px) {
    .mainIndex{
        display: grid;
        grid-template-rows: 250px 670px 1500px;
    }

    /*Transformacion*/
    .tituloIndex:hover{
        transition: 2s;
        font-size: 3rem;
    }

    /*Animacion*/
    .imagenIndex:hover{
        transition: 2s;
        overflow: hidden;
        transform: scale(1.2,1.2);
    }

    .section2{
        width: 45%;
        height: 670px;
        margin: 1% 27.5% 0% 27.5%;
    }

    .artContenedor {
        width: 35%;
        margin: 1% 7% 0% 7%;
        height: 670px;
    }

    
}


/* TABLET */

@media only screen and (max-width: 956px) and (min-width: 601px){
    .mainIndex{
        display: grid;
        grid-template-rows: 5% 780px 2750px;
    }

    .logo{
        width:  10%;
        margin: 0% 45% 0% 45%;
    }
    
    .section2{
        width: 80%;
        height: 670px;
        margin: 1% 10% 0% 10%;
    }
   
    .artContenedor {
        width: 86%;
        margin: 1% 7% 0% 7%;
        height: 670px;
    }
}

@media only screen and (max-width: 600px) and (min-width: 426px){
   
    .mainIndex{
        display: grid;
        grid-template-rows: 5% 480px 2750px;
    }

    .logo{
        width:  10%;
        margin: 0% 45% 0% 45%;
    }
    
    .section2{
        width: 80%;
        height: 670px;
        margin: 1% 10% 0% 10%;
    }

    .artContenedor {
        width: 86%;
        margin: 1% 7% 0% 7%;
        height: 670px;
    }
}


/* MOBILE */

@media only screen and (max-width: 425px) {
    .mainIndex{
        display: grid;
        grid-template-rows: 150px 350px 3250px;
    }

    .logo{
        width:  15%;
        margin: 0% 42.5% 0% 42.5%;
    }
    
    .section2{
        width: 80%;
        height: 300px;
        margin: 1% 10% 0% 10%;
    }

    
    .artContenedor {
        width: 86%;
        height: 800px;
        margin: 1% 7% 0% 7%;
    }
}