@import "colores";
/*Sobre nosotros*/

.textoSobreNosotros{
    color: rgb(3, 3, 3);
    margin-left: 1% ;
}

.sobreNosotrosTitulo{
    margin-left: 1% ;
}

@media only screen and (min-width: 1801px) {
    .sobreNosotros{
        height: 750px;
    }
    
    .contenedorSobreNos{
        text-align: center;
        display: grid;
        grid-template-columns: 4fr 4fr 4fr ;
    
    }
  
}

/* TABLET */

@media only screen and (max-width: 1800px) and (min-width: 416px){

    .sobreNosotros{
        height: 1450px;
    }
    
    .contenedorSobreNos{
        text-align: center;
        display: grid;
        grid-template-rows: 4fr 4fr 4fr ;
    
    }

    .imagenNosotros{
        height: 400px ;
        width: 250px;
    }
  
}

/* MOBILE */

@media only screen and (max-width: 415px) {
    .sobreNosotros{
        height: 850px;
        width: 100%;
    }
    
    .contenedorSobreNos{
        text-align: center;
        display: grid;
        grid-template-rows: 4fr 4fr 4fr ;
    
    }

    .imagenNosotros{
        height: 200px ;
        width: 150px;
    }
}

