@import "index";
@import "header";
@import "footer";
@import "publiAntiguas";
@import "contacto";
@import "sobreNosotros";

/*Generales*/
$colorFondo:  #fb8c00;
$colorSecundario: #ffc046;
$colorTerciario:#c25e00;;
$colorAlternativo: #5c007a;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: $colorFondo;
    background-size: 100%;
    background-repeat: round;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-transform: uppercase;
}

h2{
    color:red;
}

/*Navegables*/
a{
    color: black;
    text-decoration: none;
    text-align: center;
}



div p{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}