/*Index*/
div iframe {
  margin: 0% 0% 0% 35%; }

.logo {
  width: 7%;
  margin: 0% 46.5% 0% 46.5%; }

.imagenIndex {
  width: 100%;
  height: 50%; }

.contenedorPrincipal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between; }

.mainIndex {
  width: 100%;
  display: grid;
  grid-template-rows: 200px 750px 900px; }

.artContenedor {
  margin: 10px;
  background-color: #ffc046;
  width: 450px;
  height: 650px;
  padding: 0.5%; }

.c1 {
  order: 1; }

.c2 {
  order: -3; }

.tituloIndex {
  text-align: center;
  color: black;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.bienvenidaIndex {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

@media only screen and (min-width: 1897px) {
  .mainIndex {
    display: grid;
    grid-template-rows: 200px 750px 900px; }
  /*Transformacion*/
  .tituloIndex:hover {
    transition: 2s;
    font-size: 3rem; }
  /*Animacion*/
  .imagenIndex:hover {
    overflow: hidden;
    transform: scale(1.2, 1.2); }
  .section2 {
    width: 30%;
    height: 670px;
    margin: 1% 35% 0% 35%; } }

@media only screen and (max-width: 1896px) and (min-width: 957px) {
  .mainIndex {
    display: grid;
    grid-template-rows: 200px 610px 1500px; }
  /*Transformacion*/
  .tituloIndex:hover {
    transition: 2s;
    font-size: 3rem; }
  /*Animacion*/
  .imagenIndex:hover {
    overflow: hidden;
    transform: scale(1.2, 1.2); }
  .section2 {
    width: 30%;
    height: 670px;
    margin: 1% 35% 0% 35%;
    position: justify; } }

/* TABLET */
@media only screen and (max-width: 956px) and (min-width: 426px) {
  .mainIndex {
    display: grid;
    grid-template-rows: 150px 750px 2650px; }
  .logo {
    width: 10%;
    margin: 0% 45% 0% 45%; }
  .section2 {
    width: 80%;
    height: 670px;
    margin: 1% 10% 0% 10%; }
  .artContenedor {
    width: 86%;
    margin: 1% 7% 0% 7%; } }

/* MOBILE */
@media only screen and (max-width: 425px) {
  .mainIndex {
    display: grid;
    grid-template-rows: 120px 350px 3250px; }
  .logo {
    width: 15%;
    margin: 0% 42.5% 0% 42.5%; }
  .section2 {
    width: 80%;
    height: 300px;
    margin: 1% 10% 0% 10%; }
  .artContenedor {
    width: 86%;
    height: 800px;
    margin: 1% 7% 0% 7%; } }

/*submenu inicio*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

/*Nav*/
header {
  height: 40px;
  width: 100%; }

.menu {
  z-index: 100;
  position: fixed;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #c25e00;
  height: 40px;
  width: 100%; }

nav ul {
  float: right;
  margin-right: 20px; }

nav ul li {
  display: inline-block;
  line-height: 40px; }

nav ul li a {
  font-size: 25px;
  margin: 0 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

li a.active, li a:hover {
  background-color: #5c007a;
  color: white; }

.checkBtn {
  font-size: 30px;
  float: left;
  line-height: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/* TABLET */
@media only screen and (max-width: 1068px) and (min-width: 420px) {
  .menu {
    position: fixed; }
  .checkBtn {
    display: block; }
  ul {
    position: fixed;
    width: 70%;
    height: 30%;
    background: #c25e00;
    top: 40px;
    right: -100%; }
  nav ul li {
    display: block;
    margin: 5px; }
  li a.activa, li a:hover {
    background-color: none; }
  #check:checked ~ ul, .menu {
    left: 0; } }

@media only screen and (max-width: 419px) {
  .menu {
    position: fixed; }
  .checkBtn {
    display: block; }
  ul {
    position: fixed;
    width: 100%;
    height: 30%;
    background: #c25e00;
    top: 40px;
    right: -150%; }
  nav ul li {
    display: block;
    margin: 5px; }
  li a.activa, li a:hover {
    background-color: none; }
  #check:checked ~ ul, .menu {
    left: 0; } }

/*Footer*/
footer {
  text-align: center; }

.imagenFooter {
  width: 4%;
  height: 4%; }

@media only screen and (min-width: 769px) {
  .imagenFooter {
    width: 4%;
    height: 4%; } }

/* TABLET */
@media only screen and (max-width: 768px) and (min-width: 416px) {
  .imagenFooter {
    width: 10%;
    height: 10%; } }

/* MOBILE */
@media only screen and (max-width: 415px) {
  footer {
    text-align: center;
    height: 100px; }
  .imagenFooter {
    width: 15%;
    height: 15%; } }

/*Publicaciones Antiguas*/
.tituloPubliAnti {
  height: 20px;
  margin-left: 1%; }

.contenedor {
  width: 80%;
  height: 90%;
  background-color: #ffbd45;
  padding: 0.5%; }

.imagenPublicacionesAntiguas {
  width: 25%;
  height: 100%;
  float: left; }

.textoPublicacionesAntiguas {
  font-size: 100%;
  margin: 1%; }

@media only screen and (min-width: 843px) {
  .contenedorPublicacionesAntiguas {
    height: 1700px;
    display: grid;
    grid-template-rows: repeat(5, 320px);
    align-content: center;
    justify-content: center; } }

/* TABLET */
@media only screen and (max-width: 842px) and (min-width: 581px) {
  .contenedorPublicacionesAntiguas {
    height: 2350px;
    display: grid;
    grid-template-rows: repeat(5, 450px);
    align-content: center;
    justify-content: center; }
  .contenedor {
    width: 100%;
    height: 90%; }
  .imagenPublicacionesAntiguas {
    width: 60%;
    height: 60%; } }

/* MOBILE */
@media only screen and (max-width: 580px) {
  .contenedorPublicacionesAntiguas {
    height: 3350px;
    display: grid;
    grid-template-rows: repeat(5, 650px);
    align-content: center;
    justify-content: center; }
  .contenedor {
    width: 100%;
    height: 90%; }
  .imagenPublicacionesAntiguas {
    width: 60%;
    height: 40%; } }

/*Ayuda*/
.contactoMain {
  height: 650px;
  text-align: center;
  align-items: center; }

.tituloContactame {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.contenedorContacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.formContacto {
  font-size: 28px;
  background-color: #ffbd45;
  width: 35%;
  height: 350px;
  margin: 10% 32.5% 0% 32.5%; }

.inputContacto {
  font-size: 20px;
  width: 250px;
  height: 30px;
  background: white;
  margin-top: 20px;
  border: none;
  text-decoration: black; }

.textareaContacto {
  background: none;
  border: none;
  text-decoration: black; }

.buttonContacto {
  background: #c25e00;
  border: none;
  text-decoration: black;
  width: 70px;
  height: 30px; }

.buttonContacto:hover {
  color: black;
  background: #fb8c00; }

/* TABLET */
@media only screen and (max-width: 768px) and (min-width: 416px) {
  .formContacto {
    width: 80%;
    height: 300px;
    margin: 10% 10% 10% 10%; } }

/* MOBILE */
@media only screen and (max-width: 415px) {
  .formContacto {
    width: 80%;
    height: 300px;
    margin: 5% 0% 0% 10%; } }

/*Sobre nosotros*/
.textoSobreNosotros {
  color: #030303;
  margin-left: 1%; }

.sobreNosotrosTitulo {
  margin-left: 1%; }

@media only screen and (min-width: 1801px) {
  .sobreNosotros {
    height: 750px; }
  .contenedorSobreNos {
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr; } }

/* TABLET */
@media only screen and (max-width: 1800px) and (min-width: 416px) {
  .sobreNosotros {
    height: 1450px; }
  .contenedorSobreNos {
    text-align: center;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr; }
  .imagenNosotros {
    height: 400px;
    width: 250px; } }

/* MOBILE */
@media only screen and (max-width: 415px) {
  .sobreNosotros {
    height: 850px;
    width: 100%; }
  .contenedorSobreNos {
    text-align: center;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr; }
  .imagenNosotros {
    height: 200px;
    width: 150px; } }

/*Generales*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #fb8c00;
  background-size: 100%;
  background-repeat: round;
  font-family: 'Open Sans', sans-serif; }

h1 {
  text-transform: uppercase; }

h2 {
  color: red; }

/*Navegables*/
a {
  color: black;
  text-decoration: none;
  text-align: center; }

div p {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px; }
